*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: hsl(0, 0%, 100%);
}
main{
  width: max-content;
  margin: 0 auto;
}
main section.reminder{
  background: hsl(206, 32%, 37%);
  width: max-content;
  max-width: 250px;
  padding: .7em;
  margin-top: 1em;
}
main section.reminder h2{
  font-size: 1.2rem;
  letter-spacing: 2px;
}
main section.reminder p{
  font-size: 1rem;
}